<h1>Editing Interest #<%= @interest.id %></h1>


<%= form_tag(interest_url(@interest), method: 'patch') do %>

  <div>
    <%= label_tag :teacher_id %><br />
    <%= number_field_tag :teacher_id, @interest.teacher_id %>
  </div>

  <div>
    <%= label_tag :course_id %><br />
    <%= number_field_tag :course_id, @interest.course_id %>
  </div>

  
  <div>
    <%= submit_tag "Update Interest" %>
  </div>

<% end %>
