<h1>New Concentration</h1>


<%= form_tag(concentrations_url, method: 'post') do %>


  <div>
    <%= label_tag :teacher_id %><br />
    <%= select_tag :teacher_id, options_from_collection_for_select(Teacher.all, :id, :full_name) %>
  </div>

  <div>
    <%= label_tag :subject_id %><br />
    <%= select_tag :subject_id, options_from_collection_for_select(Subject.all, :id, :name) %>
  </div>


  <div>
    <%= submit_tag "Create Concentration" %>
  </div>
<% end %>
