<h1>Teacher #<%= @teacher.id %></h1>

<p>
  <b>First name:</b>
  <%= @teacher.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @teacher.last_name %>
</p>

<p>
  <b>Bio:</b>
  <%= @teacher.bio %>
</p>

<p>
  <b>Highest degree:</b>
  <%= @teacher.highest_degree %>
</p>

<p>
  <b>Availability:</b>
  <%= @teacher.availability %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @teacher.phone %>
</p>


