<h1>College #<%= @college.id %></h1>

<p>
  <b>Name:</b>
  <%= @college.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @college.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @college.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @college.city %>
</p>

<p>
  <b>State:</b>
  <%= @college.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @college.zip %>
</p>


