<h1>Editing Course #<%= @course.id %></h1>


<%= form_tag(course_url(@course), method: 'patch') do %>

  <div>
    <%= label_tag :subject_id %><br />
    <%= number_field_tag :subject_id, @course.subject_id %>
  </div>

  <div>
    <%= label_tag :location %><br />
    <%= text_field_tag :location, @course.location %>
  </div>

  <div>
    <%= label_tag :time %><br />
    <%= text_field_tag :time, @course.time %>
  </div>

  <div>
    <%= label_tag :compensation %><br />
    <%= text_field_tag :compensation, @course.compensation %>
  </div>

  <div>
    <%= label_tag :qualifications %><br />
    <%= text_field_tag :qualifications, @course.qualifications %>
  </div>

  <div>
    <%= label_tag :college_id %><br />
    <%= number_field_tag :college_id, @course.college_id %>
  </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_area_tag :description, @course.description %>
  </div>

  
  <div>
    <%= submit_tag "Update Course" %>
  </div>

<% end %>
