<h1>Course #<%= @course.id %></h1>

<p>
  <b>Subject:</b>
  <%= @course.subject_id %>
</p>

<p>
  <b>Location:</b>
  <%= @course.location %>
</p>

<p>
  <b>Time:</b>
  <%= @course.time %>
</p>

<p>
  <b>Compensation:</b>
  <%= @course.compensation %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @course.qualifications %>
</p>

<p>
  <b>College:</b>
  <%= @course.college_id %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


