<h1>Course #<%= @course.id %></h1>

<p>
  <b>Subject:</b>
  <%= @course.subject.name %>
</p>

<p>
  <b>Location:</b>
  <%= @course.location %>
</p>

<p>
  <b>Time:</b>
  <%= @course.time %>
</p>

<p>
  <b>Compensation:</b>
  <%= @course.compensation %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @course.qualifications %>
</p>

<p>
  <b>College:</b>
  <%= @course.college.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<h2>Teachers interested in teaching this course:</h2>

<ul>
  <% @course.teachers.each do |teacher| %>
    <li><%= teacher.full_name %></li>
  <% end %>
</ul>












